iframe {
  display: none;
}

html {
  font-family: sans-serif;
  font-size: 24px;
}

body {
  margin: 0;
}

.container {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: lightgray;
  }

  &__calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: slategray;
  }
}
